# TODO:НЕ ВПИСАНО ВСЕ, дописать бы

# Основные зависимости
aiogram>=3.0.0
telethon>=1.28.0
PyYAML>=6.0
python-dotenv>=1.0.0

# Для работы с текстом и NLP
scikit-learn>=1.2.0
tiktoken>=0.9.0

# Для асинхронной работы
aiohttp>=3.8.4
